openapi: 3.0.0
info:
  version: 0.19.3
  title: Autobahn App API
  contact:
    url: https://www.autobahn.de/datenschutz/
    email: kontakt@autobahn.de
    name: Die Autobahn GmbH des Bundes
  x-office: Bundesministerium für Digitales und Verkehr
  description: |
    Was passiert auf Deutschlands Bundesstraßen? API für aktuelle Verwaltungsdaten zu Baustellen, Staus und Ladestationen. Außerdem Zugang zu Verkehrsüberwachungskameras und vielen weiteren Datensätzen.
servers:
  - url: https://verkehr.autobahn.de/api
  - url: https://verkehr.autobahn.de/o
externalDocs:
  description: "Weiterführende Dokumentation"
  url: "https://github.com/bundesAPI/autobahn-api/blob/main/README.md"

tags:
  - name: Überblick
    description: Auskunft über alle Autobahnen
  - name: Autobahn
    description: Auskunft über eine Autobahn
  - name: Details
    description: Auskunft über einen Eintrag
  - name: Routencheck
  - name: Allgemein
    description: Allgemeine Informationen
  - name: Sonstiges

paths:
  /:
    get:
      summary: API Version
      tags: [Allgemein]
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: string
                example: "Version der api: 0.19.3"
  /datenschutz:
    get:
      tags: [Allgemein]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  TITLE:
                    type: string
                    example: Datenschutz
                  CONTENT:
                    type: string
                    example: "<section> <h2>Informationen zur Datenverarbeitung durch die Autobahn GmbH des Bundes bei der Nutzung der Autobahn Service App</h2>..."
  /impressum:
    get:
      tags: [Allgemein]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  TITLE:
                    type: string
                    example: Impressum
                  CONTENT:
                    type: string
                    example: '<div class="content-block"><h3>Herausgeber</h3><p>Die Autobahn GmbH des Bundes<br>...'
  /categories:
    get:
      tags: [Allgemein]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"
  /autobahn:
    get:
      summary: Liste der Autobahnen
      tags: [Überblick]
      parameters:
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roads:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoadID"
  /parking:
    get:
      summary: Anzahl der freien und gesamten Parkplätze pro Stellplatz
      tags: [Überblick]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ParkingLot"
  /services/{service}:
    get:
      summary: Anzahl der Einträge pro Autobahn
      tags: [Überblick]
      parameters:
        - $ref: "#/components/parameters/Service"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoadCounter"
  /autobahn/{roadID}/services/warning:
    get:
      summary: Verkehrsmeldungen
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  warning:
                    type: array
                    items:
                      $ref: "#/components/schemas/Warning"
  /autobahn/{roadID}/services/closure:
    get:
      summary: Sperrungen
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  closure:
                    type: array
                    items:
                      $ref: "#/components/schemas/Closure"
  /autobahn/{roadID}/services/roadworks:
    get:
      summary: Baustellen
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roadwork:
                    type: array
                    items:
                      $ref: "#/components/schemas/Roadwork"
  /autobahn/{roadID}/services/webcam:
    get:
      summary: Webcams
      deprecated: true
      description: Deaktiviert aufgrund der aktuellen Entwicklungen in Europa.
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  webcam:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webcam"
  /autobahn/{roadID}/services/parking_lorry:
    get:
      summary: Rastanlagen
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  parking_lorry:
                    type: array
                    items:
                      $ref: "#/components/schemas/ParkingLorry"
  /autobahn/{roadID}/services/electric_charging_station:
    get:
      summary: E-Ladestationen
      tags: [Autobahn]
      parameters:
        - $ref: "#/components/parameters/RoadID"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  parking_lorry:
                    type: array
                    items:
                      $ref: "#/components/schemas/ElectricChargingStation"
  /autobahn/details/warning/{warningID}:
    get:
      summary: Details einer Verkehrswarnung
      tags: [Details]
      parameters:
        - name: warningID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WarningID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Warning"
  /autobahn/details/closure/{closureID}:
    get:
      summary: Details einer Sperrung
      tags: [Details]
      parameters:
        - name: closureID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ClosureID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Closure"
  /autobahn/details/roadworks/{roadworkID}:
    get:
      summary: Details einer Baustelle
      tags: [Details]
      parameters:
        - name: roadworkID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/RoadworkID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roadwork"
  /autobahn/details/webcam/{webcamID}:
    get:
      summary: Details einer Webcam
      deprecated: true
      description: Deaktiviert aufgrund der aktuellen Entwicklungen in Europa.
      tags: [Details]
      parameters:
        - name: webcamID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebcamID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webcam"
  /autobahn/details/parking_lorry/{parkingLorryID}:
    get:
      summary: Details einer Rastanlage
      tags: [Details]
      parameters:
        - name: parkingLorryID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ParkingLorryID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParkingLorry"
  /autobahn/details/electric_charging_station/{electricChargingStationID}:
    get:
      summary: Details einer E-Ladestation
      tags: [Details]
      parameters:
        - name: electricChargingStationID
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ElectricChargingStationID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElectricChargingStation"
  /photon/api:
    get:
      summary: Suche nach einem Ort
      tags: [Routencheck]
      parameters:
        - name: q
          in: query
          required: true
          example: Berlin
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoJSONFeatureCollection"
  /route/car:
    get:
      summary: Suche nach einer Route
      tags: [Routencheck]
      parameters:
        - name: start
          in: query
          required: true
          example: 13.40419,52.50289
          schema:
            type: string
        - name: target
          in: query
          required: true
          example: 10.02766,53.56734
          schema:
            type: string
        - name: detailed
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: OK
  /autobahnOsInformationen:
    get:
      summary: Alle Einträge
      description: Deprecated auf Grund von Performance
      deprecated: true
      tags: [Sonstiges]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoadItem"
  /autobahnOsInformationen/tile/{longitude}/{latitude}/{zoom}.mvt:
    get:
      summary: Karten-Kachel
      tags: [Sonstiges]
      parameters:
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Zoom"
      responses:
        200:
          description: OK
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: binary
  /../tiles/styles/verkehr/{filename}:
    get:
      tags: [Sonstiges]
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            enum:
              - style.json
              - sprite@2x.json
              - sprite@2x.png
      responses:
        200:
          description: OK
  /../tiles/data/{filename}.json:
    get:
      tags: [Sonstiges]
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            enum:
              - v3
              - europe
              - lcl_junction
      responses:
        200:
          description: OK
  /../tiles/data/{filename}/{zoom}/{longitude}/{latitude}.pbf:
    get:
      tags: [Sonstiges]
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            enum:
              - v3
              - europe
              - lcl_junction
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Zoom"
      responses:
        200:
          description: OK
  /../web/main/karte/:
    get:
      tags: [Sonstiges]
      summary: Funktioniert via Swagger UI nicht.
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: string
  /../web/main/karte/img:
    get:
      tags: [Sonstiges]
      summary: Funktioniert via Swagger UI nicht.
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: string
  /../web/main/karte/img/{filename}:
    get:
      tags: [Sonstiges]
      summary: Funktioniert via Swagger UI nicht.
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ImageFilename"
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: string

components:
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: number
        example: 0
    Limit:
      name: limit
      in: query
      schema:
        type: number
        example: 50
    Order:
      name: order
      in: query
      schema:
        type: number
    Service:
      in: path
      name: service
      required: true
      schema:
        $ref: "#/components/schemas/Service"
    RoadID:
      in: path
      name: roadID
      required: true
      schema:
        $ref: "#/components/schemas/RoadID"
    Longitude:
      name: longitude
      in: path
      required: true
      example: 16
      schema:
        type: integer
    Latitude:
      name: latitude
      in: path
      required: true
      example: 11
      schema:
        type: integer
    Zoom:
      name: zoom
      in: path
      required: true
      example: 5
      schema:
        type: integer
  schemas:
    RoadCounter:
      type: object
      properties:
        road:
          $ref: "#/components/schemas/RoadID"
        counter:
          $ref: "#/components/schemas/IntegerString"
    RoadID:
      type: string
      example: A1
    ParkingLotID:
      type: string
      example: DE-NW-000330
    ParkingLot:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ParkingLotID"
        street:
          $ref: "#/components/schemas/RoadID"
        hasSvg:
          type: boolean
        capacity:
          type: object
          properties:
            truck:
              type: integer
        free:
          type: object
          properties:
            truck:
              type: integer
    RoadItem:
      type: object
      properties:
        identifier:
          type: string
        title:
          type: string
          example: A1 | Bremen/Brinkum - Stuhr
        subtitle:
          type: string
          example: Arnheim -> Oberhausen
        description:
          $ref: "#/components/schemas/MultiLineText"
        footer:
          $ref: "#/components/schemas/MultiLineText"
        routeRecommendation:
          $ref: "#/components/schemas/MultiLineText"
        display_type:
          $ref: "#/components/schemas/DisplayType"
        icon:
          $ref: "#/components/schemas/Icon"
        lorryParkingFeatureIcons:
          type: array
          items:
            $ref: "#/components/schemas/LorryParkingFeatureIcon"
        isBlocked:
          $ref: "#/components/schemas/BooleanString"
        future:
          type: boolean
        coordinate:
          $ref: "#/components/schemas/Coordinate"
        point:
          $ref: "#/components/schemas/Point"
          nullable: true
        extent:
          $ref: "#/components/schemas/Extend"
    WarningID:
      type: string
    Warning:
      allOf:
        - $ref: "#/components/schemas/RoadItem"
      properties:
        identifier:
          $ref: "#/components/schemas/WarningID"
        startLcPosition:
          $ref: "#/components/schemas/IntegerString"
        startTimestamp:
          $ref: "#/components/schemas/TimeStamp"
        geometry:
          allOf:
            - $ref: "#/components/schemas/GeoJSONLineString"
          nullable: true
        delayTimeValue:
          allOf:
            - $ref: "#/components/schemas/IntegerString"
          nullable: true
        abnormalTrafficType:
          allOf:
            - $ref: "#/components/schemas/TrafficType"
          nullable: true
        averageSpeed:
          allOf:
            - $ref: "#/components/schemas/FloatString"
          nullable: true
    ClosureID:
      type: string
    Closure:
      allOf:
        - $ref: "#/components/schemas/RoadItem"
      properties:
        identifier:
          $ref: "#/components/schemas/ClosureID"
        startLcPosition:
          $ref: "#/components/schemas/IntegerString"
        startTimestamp:
          allOf:
            - $ref: "#/components/schemas/TimeStamp"
          nullable: true
        impact:
          $ref: "#/components/schemas/Impact"
        geometry:
          allOf:
            - $ref: "#/components/schemas/GeoJSONLineString"
          nullable: true
    RoadworkID:
      type: string
    Roadwork:
      allOf:
        - $ref: "#/components/schemas/RoadItem"
      properties:
        identifier:
          $ref: "#/components/schemas/RoadworkID"
        startLcPosition:
          $ref: "#/components/schemas/IntegerString"
        startTimestamp:
          allOf:
            - $ref: "#/components/schemas/TimeStamp"
          nullable: true
        impact:
          $ref: "#/components/schemas/Impact"
        geometry:
          allOf:
            - $ref: "#/components/schemas/GeoJSONLineString"
          nullable: true
    WebcamID:
      type: string
    Webcam:
      type: object
      description: Noch nicht dokumentiert
    ParkingLorryID:
      type: string
      example: DE-SL-000008
    ParkingLorry:
      allOf:
        - $ref: "#/components/schemas/RoadItem"
      properties:
        identifier:
          $ref: "#/components/schemas/ParkingLorryID"
        startLcPosition:
          allOf:
            - $ref: "#/components/schemas/IntegerString"
          nullable: true
    ElectricChargingStationID:
      type: string
      example: RUxFQ1RSSUNfQ0hBUkdJTkdfU1RBVElPTl9fMTA0Njg=
    ElectricChargingStation:
      allOf:
        - $ref: "#/components/schemas/RoadItem"
      properties:
        identifier:
          $ref: "#/components/schemas/ElectricChargingStationID"
    # Utilities
    Service:
      type: string
      enum:
        - warning
        - closure
        - roadworks
        - webcam
        - parking_lorry
        - electric_charging_station
    Category:
      type: string
      enum:
        - LOS
        - WARNING
        - CLOSURE
        - REROUTING
        - ROADWORKS
        - WEBCAM
        - PARKING
        - PARKING_LORRY
        - STATION
        - FEATURE
        - ELECTRIC_CHARGING_STATION
        - FUEL_STATION
    TrafficType:
      type: string
      enum:
        - QUEUING_TRAFFIC
        - SLOW_TRAFFIC
        - STATIONARY_TRAFFIC
    Icon:
      type: string
      enum:
        - "101"
        - "123"
        - "250"
        - "262-2"
        - "314-50"
        - "314-50-2"
        - "448"
        - charging_plug
        - charging_plug_strong
        - warnkegel
    DisplayType:
      type: string
      enum:
        - WEBCAM
        - WARNING
        - CLOSURE
        - ROADWORKS
        - SHORT_TERM_ROADWORKS
        - PARKING
        - ELECTRIC_CHARGING_STATION
        - STRONG_ELECTRIC_CHARGING_STATION
        - WEIGHT_LIMIT_35
        - CLOSURE_ENTRY_EXIT
    Symbol:
      type: string
      enum:
        - BORDER_LEFT
        - BORDER_RIGHT
        - BREAKDOWN_LANE
        - CLOSED
        - SEPARATE
    Extend:
      type: string
      example: 47.60,7.60,47.60,7.60
    Point:
      type: string
      example: 47.60,7.60
    TimeStamp:
      type: string
      example: "2024-10-09T07:09:40+02:00"
    Coordinate:
      type: object
      properties:
        lat:
          type: number
        long:
          type: number
    GeoJSONLineString:
      type: object
      properties:
        type:
          type: string
          enum: [LineString]
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
    GeoJSONFeatureCollection:
      type: object
      properties:
        type:
          type: string
          enum: [FeatureCollection]
        features:
          type: array
          items:
            $ref: "#/components/schemas/GeoJSONFeature"
    GeoJSONFeature:
      type: object
      properties:
        type:
          type: string
          enum: ["Feature"]
        geometry:
          $ref: "#/components/schemas/GeoJSONPoint"
    GeoJSONPoint:
      type: object
      properties:
        type:
          type: string
          enum: ["Point"]
        coordinates:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
        properties:
          type: object
          properties:
            type:
              type: string
            country:
              type: string
            countrycode:
              type: string
            state:
              type: string
            city:
              type: string
              nullable: true
            postcode:
              type: string
              nullable: true
            district:
              type: string
              nullable: true
            street:
              type: string
              nullable: true
            housnumber:
              type: string
              nullable: true
    Impact:
      type: object
      properties:
        lower:
          type: string
          example: Aachen
          nullable: true
        upper:
          type: string
          example: Bochum
          nullable: true
        symbols:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/Symbol"
            nullable: true
    LorryParkingFeatureIcon:
      type: object
      properties:
        icon:
          type: string
          example: almofont almo-picnic_facility
        description:
          type: string
          example: Picknickmöglichkeiten
        style:
          type: string
    MultiLineText:
      type: array
      items:
        type: string
    BooleanString:
      type: string
      enum:
        - "false"
        - "true"
    IntegerString:
      type: string
      example: "1"
    FloatString:
      type: string
      example: "1.7"
    ImageFilename:
      type: string
      enum:
        - 314-50.png
        - 314-50.svg
        - 361-50.png
        - 361-50.svg
        - 376.png
        - 376.svg
        - 377.png
        - 377.svg
        - AOS-Schriftzug1.png
        - Hauptpunkt.png
        - Hauptpunkt.svg
        - Hauptpunkt_on.svg
        - Kamera karte.png
        - Kamera karte.svg
        - Kamera_cluster.svg
        - LKW.svg
        - Lkw_P_b.png
        - PWC.png
        - RM.png
        - Stau_karte.png
        - Stau_karte.svg
        - Stau_off.svg
        - Stau_on.svg
        - TK.png
        - TR.png
        - TRM.png
        - Thumbs.db
        - VZ.svg
        - VZ_on.svg
        - Vz_Karte.png
        - Vz_Karte.svg
        - aag_winkel.svg
        - alternativroute.svg
        - anzahl.svg
        - baustelle_cluster.svg
        - baustelle_navi.svg
        - baustelle_navi_on.svg
        - close.svg
        - dWista-off.svg
        - dWista-on.svg
        - dauerbaustellen_Karte.png
        - dauerbaustellen_Karte.svg
        - deWista Karte.png
        - deWista Karte.svg
        - deWista Karte_MitKreis.png
        - deWista Karte_mitKreis.svg
        - deWista_cluster.svg
        - dreieck_baustelle.png
        - dreieck_stau.png
        - hauptroute.svg
        - impact/ARROW_DOWN.png
        - impact/ARROW_UP.png
        - impact/BORDER_LEFT.png
        - impact/BORDER_RIGHT.png
        - impact/BREAKDOWN_LANE.png
        - impact/CLOSED.png
        - impact/SEPARATE.png
        - korridore_off.svg
        - korridore_on.svg
        - logo_autobahn_white.svg
        - los_off.svg
        - los_on.svg
        - s.png
        - slide_in.svg
        - slide_in_right.svg
        - slide_out.svg
        - slide_out_right.svg
        - son.png
        - stau_cluster.png
        - stau_cluster.svg
        - stvo-101-gefahrstelle.png
        - stvo-123-arbeitsstelle.png
        - stvo-123-arbeitsstelle_geplant.png
        - stvo-124-stau.png
        - stvo-250-verbot.png
        - stvo-250-verbot_geplant.png
        - tagesbaustelle karte.svg
        - tagesbaustelle kluster.svg
        - tagesbaustelle_geortet_off.svg
        - v.png
        - verkehrslage_off.svg
        - verkehrslage_on.svg
        - vollsperrung karte.png
        - vollsperrung karte.svg
        - vollsperrung kluster.svg
        - vollsperrung_off.svg
        - vollsperrung_on.svg
        - warnkegel.png
        - warnkegel.svg
        - warnkegel_geplant.png
        - webcam_off.svg
        - webcam_on.svg
